*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    
}
.bigMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}
.main{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;
    align-items: center;*/
    gap: 20px;
    padding: 20px 10px;
    max-width: 400px;
}

form{
    display: flex;
    flex-direction: column;
    
}

.title{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pText{
    display: flex;
    gap: 5px;
    padding-top: 5px;
}
input{
    color: rgba(0, 0, 0, 0.50);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    padding: 5px 0px 5px 5px;
    
}

label{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p, button{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button{
    padding: 5px 0px;
    border-radius: 15px;
    background: #FFD814;
    border: none;
}

.textBox1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link{
    color: #218CD5;
}
.fLink p{
    color: #218CD5;
}

.fLink{
    display: flex;
    justify-content: space-between;
}

